.w{
    width: 1280px;
    /*min-width: 1000px;*/
    margin: 0 auto;
}
*{
    padding: 0;
    margin: 0;
}
/*div{*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*display: inline-block;*/
/*}*/
/*版头开始*/
.jinggu{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#Od{
    z-index: 1000;
    border: 1px solid #000000;
}
#Of{
    opacity: 1;
    z-index: 1000;
}
#Oh{
    opacity: 1;
}
#Om{
    opacity: 1;
}
#Os{
    opacity: 1;
}
.bantou{
    width: 100%;
}
.tonglan{
    width: 100%;
    height: 37px;
    background: url("../images/tonglan.gif");
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
}
.fanhui{
    width: 100% ;
}
.fanhui input{
    width: 45px;
    height: 20px;
    position: absolute;
    border: 1px solid;
    border-radius: 5px;
    left: 235px;
    top: 9px;
    font-size: 11px;
    color: #cb4190;
}
.tonglan-l{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    position: fixed;
    top: 37px;
    z-index: 998;
    left: 0;
}
.logo{
    /*margin-left: 50%;*/
    z-index: 999;
    position: absolute;
    left: 50%;
    top: -25px;
}
.daohang-one{
    position: absolute;
    left: 340px;
}
.daohang-one ul{
    float: right;
}
.daohang-one ul li{
    float: left;
    padding: 16px 40px;
    list-style: none;

}
.daohang-one ul li a{
    text-decoration: none;
    color: #000;
}
.daohang-two{
    position: absolute;
    right: 295px;
}
.daphang-two ul{
    float: right;
}
.daohang-two ul li{
    float: left;
    padding: 16px 40px;
    list-style: none;
    text-decoration: none;
}
.daohang-two ul li a{
    text-decoration: none;
    color: #000;
}
.daohang-one{
    font-style: oblique;
    font-family:  cursive;
}
.daohang-two{
    font-style: oblique;
    font-family:  cursive;
}
.tu{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.beijing{
    width: 100%;
    height: 600px;
    background: url("../img/bg.jpg");
    position: absolute;
    left: 0;
    top: 87px;
}
.beijing-l{
    width: 118px;
    height: 149px;
    background: url("../images/tip.png");
    position: relative;
    left: -128px;
}
.beijing-r{
    width: 800px;
    height: 343px;
    background: url("../img/bg_luce.png") no-repeat 200px;
    background-size: 593px;
    position: relative;
    left: 190px;
    top: 137px;
}
.beijing-s{
    background: url("../img/grafica_base.png");
    position: relative;
    width: 1295px;
    height: 707px;
    top: -429px;
    z-index: 1;
}
.banxin{
    position: relative;
    width: 1280px;
    height: 600px;
}
.xuexiao{
    width: 100%;
    height: 1037px;
    background: url("../img/bg.png");
    position: absolute;
    left: 0;
    top: 687px;
    overflow: hidden;
}
.logo-r img{
    position: relative;
    left: 437px;
    top: 117px;
}
.tupian{
    width: 100px;
    height: 400px;
    position: relative;
    left: -70px;
}
.tupian div{
    height: 355px;
    position: absolute;
    background-size: 267px;
    top: 164px;
    display: inline-block;
}
.tu-1{
    width: 63px;
    background: url("../img/2017-09/IMG_0036.JPG");
    background-size: 400px;
    left: 37px;
    position: relative;
    top: 0px;
}
.tu-2{
    width: 63px;
    background: url("../img/2017-09/IMG_0037.JPG");
    left: 100px;
}
.tu-3{
    width: 63px;
    background: url("../img/2017-09/IMG_0038.JPG");
    left: 163px;
}
.tu-4{
    width: 63px;
    background: url("../img/2017-09/IMG_0039.JPG");
    left: 226px;
}
.tu-5{
    width: 63px;
    background: url("../img/2017-09/IMG_0040.JPG");
    left: 289px;
}
.tu-6{
    width: 63px;
    background: url("../img/2017-09/IMG_0041.JPG");
    left: 352px;
}
.tu-7{
    width: 63px;
    background: url("../img/2017-09/IMG_0042.JPG");
    left: 415px;
}
.tu-8{
    width: 63px;
    background: url("../img/2017-09/IMG_0043.JPG");
    left: 478px;
}
.tu-9{
    width: 63px;
    background: url("../img/2017-09/IMG_0044.JPG");
    left: 541px;
}
.tu-10{
    width: 63px;
    background: url("../img/2017-09/IMG_0045.JPG");
    left: 604px;
}
.tu-11{
    width: 63px;
    background: url("../img/2017-09/IMG_0046.JPG");
    left: 667px;
}
.tu-12{
    width: 63px;
    background: url("../img/2017-09/IMG_0047.JPG");
    left: 730px;
}
.tu-13{
    width: 63px;
    background: url("../img/2017-09/IMG_0048.JPG");
    left: 793px;
}
.tu-14{
    width: 63px;
    background: url("../img/2017-09/IMG_0049.JPG");
    left: 856px;
}
.tu-15{
    width: 63px;
    background: url("../img/2017-09/IMG_0050.JPG");
    left: 919px;
}
.tu-16{
    width: 63px;
    background: url("../img/2017-09/IMG_0051.JPG");
    left: 982px;
}
.tu-17{
    width: 63px;
    background: url("../img/2017-09/IMG_0052.JPG");
    left: 1045px;
}
.tu-18{
    width: 63px;
    background: url("../img/2017-09/IMG_0053.JPG");
    left: 1108px;
}
.tu-20{
    width: 267px;
    background: url("../img/2017-09/wenyiduo.jpg");
    margin-top: -403px;
}
.gaozhong{
    float: right;
    margin-top: -561px;
    margin-right: 40px;
    font-size: 47px;
    list-style: none;
    font-family: cursive;
}
.keai{
    position: relative;
    top: -600px;
    left: 190px;
    font-size: 19px;
    font-family: cursive;
    list-style: none;
}
.keai-l{
    font-size: 35px;
}
.jianxi {
    width: 100%;
    left: 0;
    top: 1724px;
    position: absolute;
    width: 605px;
    height: 430px;
    position: absolute;
    left: 195px;
    top: 80px;
}
.aihao{
    width: 100%;
    height: 800px;
    position: absolute;
    background: url("../img/bg%20(1).jpg");
    top: 1724px;
    left: 0;
    overflow: hidden;
}
.ai-l{
    width: 605px;
    height: 430px;
    position: relative;
    left: 132px;
    top: 80px;
}
.ai-r{
    width: 605px;
    height: 180px;
    position: relative;
    left: 737px;
    top: -349px;
    overflow: hidden;
}
.ai-s{
    width: 605px;
    height: 250px;
    background-color: #fff;
    position: relative;
    left: 737px;
    top: -349px;
    overflow: hidden;
}
.ai-l video{
    display: inline-block;
    width: 764px;
    height: 431px;
    margin-left: -159px;
}
.r-1{
    width: 605px;
    height: 180px;
    position: absolute;
}
.r-2{
    width: 605px;
    height: 180px;
    position: absolute;
    bottom: 180px;
}
.s-1{
    width: 605px;
    height: 250px;
    position: absolute;
}
.s-2{
    width: 605px;
    height: 250px;
    position: absolute;
    top: 250px;
}
.select-tab{
    position: relative;
    width: 138px;
    height: 138px;
    border-radius: 50%;
    border:10px solid #404040;
    margin-left: auto;
    margin-right: auto;
    top: -304px;
    left: 42px;
}
.select-tab img{
    display: block;
    width: 96px;
    height: 112px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
    opacity: .8;
}
.tab-show{
    position: absolute;
    width: 79px;
    height: 158px;
    right: -10px;
    top: -10px;
    overflow: hidden;
    transform-origin: 0 50%;
    transition: .5s ease-in;
}
.show-cir{
    position: absolute;
    width: 138px;
    height: 138px;
    right: 0;
    border-radius: 50%;
    border: 10px solid #ddde83;
}
.tab{
    position: absolute;
    width: 158px;
    height: 158px;
    right: -10px;
    top: -10px;
}
.tab div{
    width: 50%;
    height: 100%;
    float: left;
}
.gemen{
    width: 100%;
    height: 600px;
    position: absolute;
    top: 1500px;
    top: 2524px;
    left: 0;
    overflow: hidden;
}
.jieshao{
    height: 600px;
}
.jieshao ul li{
    padding: 30px;
    font-size: 27px;
    list-style: none;
}
.jieshao ul li span{
    font-size: 14px;
}
.kaishi-r{
    padding: 30px;
    font-size: 27px;
    list-style: none;
    position: relative;
    top: -535px;
    left: 480px;
    width: 300px;
}
.yuan-l{
    width: 50px;
    height: 50px;
     border-radius: 25px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #BFBFBF;
}
.jieshao p{
    position: relative;
    left: 11px;
    top: 8px;
    font-family: cursive;
    color: #3EABFF;
    z-index: 1;
}
.yuan-r{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #BFBFBF;
}
.yuan-s{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #BFBFBF;

}
.yuan-f{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #BFBFBF;
}
.zhaopian{
    position: relative;
    top: -1000px;
    right: -800px;
    width: 400px;
    height: 400px;
    background-color: skyblue;
    display: inline-block;
}
.zhao-l{
    width: 120%;
    height: 150%;
    position: relative;
    top: -95px;
    opacity: 1;
}
.zhao-r{
    width: 110%;
    height: 200%;
    position: relative;
    top: -950px;
    opacity: 0;
}
.zhao-s{
    width: 100%;
    height: 100%;
    position: relative;
    top: -1400px;
    opacity: 0;
}
.zhao-f{
    width: 170%;
    height: 100%;
    position: relative;
    top: -1800px;
    opacity: 0;
}
.dibu{
    width: 100%;
    height: 755px;
    position: absolute;
    top: 3124px;
    overflow: hidden;
    /*opacity: 0;*/
}
.dibu p{
    position: relative;
    top: 100px;
    left: 400px;
    font-size: 40px;
    font-family: cursive;
}
.wenzi{
    position: relative;
    top: 113px;
    left: 520px;
}
.dibulan{
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    z-index: 999;
}
.sanjiao-l{
    display: block;
    position: relative;
    content: '';
    width: 0;
    height: 0;
    border-left: 2.44rem solid transparent;
    border-right: 2.44rem solid transparent;
    border-bottom: 1.44rem solid #000;
    left: 50.5%;
    margin-left: -.44rem;
    top: -1.2rem;
    z-index: 999;
}
.sanjiao-l img{
    width: 33px;
    height: 32px;
    position: absolute;
    top: 12px;
    right: -16px;
    z-index: 999;
}
ul{list-style: none;}
.top,.dian,.jia,.fu,.mei,.bottom{
    width: 1210px;
    margin: 0 auto;
}
.subnav
{
    position: fixed;
    width: 38px;
    height: 200px;
    top:200px;
    left:50%;
    margin-left:605px;
    display: none;
}
.subnav li,.back{
    height: 36px;
    border:1px solid #DEDEDE;
    border-radius: 18px;
    margin-bottom: 5px;
    font-size:0;
    background: url("../img/gif.gif");
}
.subnav li:hover,.subnav li.current,.back
{
    border:1px solid #ED5759;
    font-size:12px;
    color: #ED5759;
    padding-left: 6px;
    padding-top: 2px;
    height: 34px;
    cursor: pointer;
}
.subnav span{
    position: relative;
    left: 10px;
    top: 6px;
    font-size: 16px;
}
.subnav p{
    position: relative;
    left: 10px;
}
.abb{
    width: 0;
    height: 0;
    overflow: hidden;
}
.dian{
    position: relative;
    top: 539px;
}
.jia{
    position: relative;
    top: 889px;
}
.fu{
    position: relative;
    top: 1030px;
}
.mei{
    position: relative;
    top: -2457px;
}
/*版头结束*/